html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,strike,strong,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}
table,caption,tbody,tfoot,thead,tr,th,td {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: top
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: ''
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
    outline: 0
}
ins {
    text-decoration: none
}
del,
s,
strike {
    text-decoration: line-through
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
    display: block;
    margin: 0
}
ul{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.note{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}
.note--container{
    border-radius: 2px;
    
}
.activeNoteSection{
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    min-height: 355px;
}
.activeNoteSection>a{
    height:100%;
    color: #ccc;
    text-decoration: none;
}
.note__header input{
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 10px;
}
.note__header label{
    margin:0;
}
.note__title{
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
    border-bottom: 1px solid #cccccc;
}
.note__date{
    font-size: 10px;
    position: absolute;
    left: 0;
    top: 0;
}
.note__comments{
    padding: 10px 0 0px;
}
.note__addFile > input{
    display: none;
}
.note__content{
    margin-bottom: 10px;
}
.note__content textarea{
    min-height: 250px;
    width: 100%;
    resize: none;
    border:none;
    background-color: #cde5f366;
    padding: 10px;
}
.comments__panel{
    padding: 10px;
}
.comments{
    margin-bottom: 15px;
}
.comment{
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px dotted #cccccc;
}
.comment__author{
    min-width: 90px;
    min-height: 1.5em;
    max-width: calc( 100% - 20px);
}
.comment__content{
    word-break: break-word;
    display: block;
    width: 100%;
    padding: 0px 10px;
}
.comment__date{
    font-size: 10px;
}
.comment__list .comment:nth-child(odd){
    background-color: #f2f2f2f2;
}
.form__inputs .form-group label{
    min-width: 60px;
}
.newNote__textarea{
    min-height: 250px;
    resize: none;
}
.form__header{
    padding: 10px 10px 20px;
    background: rgba(230, 230, 230, 0.5);
}
.form{
    padding: 10px ;
    background: rgba(230, 230, 230, 0.5);
}
.flex-row{
    flex-direction: row;
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.nav-item--btn.active{
    background-color: rgb(148, 144, 144);
}
.nav-item--btn:hover{
    background-color: rgb(182, 178, 178);  
    transition: ease-out 0.3s;
}
.nav-item--btn a{
    color: #000;
}
.bg-gray{
    height: 100%;
    background-color:rgb(213, 211, 211);
}
.bg-gradient{
    background:  linear-gradient(to bottom, rgba(250,250,250,1) 0%, rgba(213,211,211,1) 100%);
}
.notes-list{
    height: 100%;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
}
.notes-list__item{
    list-style-type: none;
    padding: 10px 35px 10px 10px;
    cursor: pointer;
    position: relative;
}
.notes-list__item__delete{
    position: absolute;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.3s;
}
.notes-list__item__delete:hover{
    background-color: #cccccc;
}
.notes-list__item{
    transition: ease-out 0.3s;
    border-bottom: 1px dotted #ccc;
}
.notes-list__item:hover, .notes-list__item.active:hover{
    background-color: rgba(184, 207, 218, 0.44);
}
.notes-list__item.active{
    background-color: rgba(107, 168, 196, 0.44);
}
.notes-list__item__footer{
    align-items: center;
}
.comment__content--list, .comment__author{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.no-pdng{
    padding: 0;
}
.no-pdng-l{
    padding-left: 0;
}
.no-pdng-r{
    padding-right: 0;
}
.note--EmptyContainer{
    height: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}
.note--EmptyContainer:hover{
    background-color: #cccccc;
}
.note--EmptyContainer .fa-pencil{
    font-size: 60px;
    color: #aca9a9;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.isValid, .isValid:focus{
    border-color: green;
    box-shadow:green;
}
.inValid, .inValid:focus{
    border-color: red;
    box-shadow:red;
}
.wrapButton{
    padding: 15px;
}
.flex-center{
    align-items: center;
    display: flex;
}
a{color: #333}
.option__title{
    padding: 15px;
}
.option__input label{
    margin: 0px;
    padding-left: 10px;
}
.option__input{
    padding-bottom: 10px;
}
.fa-pencil:before{
    font-size: 28px;
}
.nav-items--left .nav-item:last-child{
    border-left: 1px solid #ccc;
    margin-left: 15px;
    padding-left: 10px;
}
